
<div class="card">
    <div class="card-header">
        <strong>Edit Item Category</strong>

    </div>
    <form [formGroup]="editForm" (ngSubmit)="submit()">
        <div class="card-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" [ngClass]="{'is-invalid': submitted && f.title.errors}" formControlName="title"
                    class="form-control" id="title" placeholder="Title">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <p *ngIf="f.title.errors.required">
                        Please enter title</p>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" [ngClass]="{'is-invalid': submitted && f.description.errors}"
                    formControlName="description" class="form-control" id="description" placeholder="Description">
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <p *ngIf="f.description.errors.required">
                        Please enter description</p>
                </div>
            </div>

            <div class="form-group">
                <label for="Brand">
                    Select Brand
                </label>
                <ng-multiselect-dropdown [placeholder]="'Select Brand'" [settings]="dropdownSettings"
                        [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" formControlName="brand">
                    </ng-multiselect-dropdown>
            </div>


            <div class="form-group">
                <label for="file-input">Item Category Image</label>
                <input type="file" id="file-input" formControlName="itemCategoryImage"
                    [ngClass]="{'is-invalid': submitted && f.itemCategoryImage.errors}" (change)="onFileChange($event)"
                    class="form-control" name="file-input">
            </div>

            <div *ngIf="f.itemCategoryImage.touched && f.itemCategoryImage.invalid" class="alert alert-danger">
                <p *ngIf="f.itemCategoryImage.errors.required">brand Image is required.</p>
            </div>
            <div *ngIf="submitted && f.itemCategoryImage.errors" class="invalid-feedback">
                <p *ngIf="f.itemCategoryImage.errors.required">
                    Please select brand image </p>
            </div>
            <img [src]="itemCategorySrc" *ngIf="itemCategorySrc" style="height: 150px; width:200px;margin:20px">


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i>
                Cancel</button>
        </div>
    </form>
</div>