<div class="card">
    <div class="card-header">
        <strong>Item Category List</strong>
        
    </div>

    <div class="card-body">

        <div class="btn-group" style="margin-bottom:10px" >

            <button type="button" class="btn btn-outline-primary" style="margin:10px;width:150px;" (click)="add()"> 
              <i class="fa fa-plus"></i>
              <strong>Add</strong></button>
            <button type="button" (click)="active()" class="btn btn-outline-primary" style="margin:10px;width:150px;">
              <i class="fa fa-check"></i>
              <strong> Active</strong></button>
            <button type="button" class="btn btn-outline-primary" (click)="inactive()" style="margin:10px;width:150px;">
              <i class="fa fa-times"></i> <strong> Inactive</strong></button>
            <button type="button" class="btn btn-outline-danger" (click)="delete()" style="margin:10px;width:150px;">
              <i class="fa fa-trash"></i> <strong>Delete</strong></button>
            
          </div>

        
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Position Column -->
        
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : onChange($event)"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              
            <ng-container matColumnDef="itemId">
              <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header > 
               <strong>Item Id.</strong> </th>
              <td mat-cell *matCellDef="let element"> 
                <a routerLink="../{{element.itemId}}/edit" routerLinkActive>{{element.itemId}}</a>
                 </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Title</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Description</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cushions">
                <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Cushions</strong> </th>
                <td mat-cell *matCellDef="let element"> {{element.cushions}} </td>
            </ng-container>
          
              
            <ng-container matColumnDef="ingredients">
                <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Ingredients</strong> </th>
                <td mat-cell *matCellDef="let element"> {{element.ingredients}} </td>
            </ng-container>
            
            <ng-container matColumnDef="availableQuantity">
                <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Available Quantity</strong> </th>
                <td mat-cell *matCellDef="let element"> {{element.availableQuantity}} </td>
            </ng-container>
            

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th class="th-center" mat-header-cell *matHeaderCellDef> <strong> Status </strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="itemImage">
              <th  class="th-center" mat-header-cell *matHeaderCellDef> <strong> Item Photo </strong> </th>
              <td mat-cell *matCellDef="let element"> <img  style="height: 50px; width: 50px;" [src]="element.itemImage" /> </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="selection.toggle(row)"></tr>
           
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
       

</div>