<div class="card">
    <div class="card-header">
        <strong>Add Admin</strong>

    </div>
    <form [formGroup]="addAdminForm" (ngSubmit)="submit()">
    <div class="card-body">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text"
            [ngClass]="{'is-invalid': submitted && f.userName.errors}" 
             formControlName="userName" class="form-control" id="userName" placeholder="User Name">
             <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <p *ngIf="f.userName.errors.required">
                  Please enter User Name</p>
              </div>
        </div>


        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
            [ngClass]="{'is-invalid': submitted && f.email.errors}" 
             formControlName="email" class="form-control" id="email" placeholder="Email">
             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <p *ngIf="f.email.errors.required">
                  Please enter Email</p>
              </div>
        </div>



        <div class="form-group">
            <label for="password">Password</label>
            <input type="text"
            [ngClass]="{'is-invalid': submitted && f.email.errors}" 
             formControlName="password" class="form-control" id="password" placeholder="Password">
             <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <p *ngIf="f.password.errors.required">
                  Please Enter Password</p>
              </div>
        </div>
        

       

        <div class="form-group">
            <label  for="file-input">Profile Photo</label>
            <input type="file" id="file-input"
            formControlName="profilePhoto" 
            [ngClass]="{'is-invalid': submitted && f.profilePhoto.errors}"
            (change)="onFileChange($event)" class="form-control" name="file-input"> 
        </div>

        <div *ngIf="f.profilePhoto.touched && f.profilePhoto.invalid" class="alert alert-danger">
            <p *ngIf="f.profilePhoto.errors.required">Profile Photo is required.</p>
        </div>
        <div *ngIf="submitted && f.profilePhoto.errors" class="invalid-feedback">
            <p *ngIf="f.profilePhoto.errors.required">
              Please Select Profile Photo</p>
          </div>
        <img [src]="profilePhotoSrc" *ngIf="profilePhotoSrc" style="height: 150px; width:200px;margin:20px">

       

    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
    </div>
</form>
</div>